.text-office {
    color: #FFC300;
}

.text-webdevelopment {
    color: #A338C0;
}

.text-2dontwerp {
    color: #00B2EA;
}

.text-3dontwerp {
    color: #10BFA5;
}

.text-programmeren {
    color: #C00000;
}

.text-video {
    color: #063D71;
}